
<div class="container">
    <div>
        <h3 class="center" *ngIf="projets.length == 0">Vous avez aucun financement attribué</h3>
    </div>
    
    <div *ngIf="projets.length > 0" class="table-custom center-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#codeProjet</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Budget Alloué</th>
                    <th scope="col">Total des Besoins</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Besoins</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projet of projets">
                    <td scope="row">{{projet.codeProjet}}</td>
                    <td>{{projet.intituleProjet}}</td>
                    <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{projet.budgetProjet}} $</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend" *ngIf="projet.totalBesoin <= projet.budgetProjet">
                                <span class="input-group-text"
                                    style="background-color: rgb(150, 204, 128);">{{projet.totalBesoin}} $</span>
                            </div>
                            <div class="input-group-prepend" *ngIf="projet.totalBesoin > projet.budgetProjet">
                                <span class="input-group-text"
                                    style="background-color: rgb(201, 100, 107);">{{projet.totalBesoin}} $</span>
                                <p style="color: red;">Le budget alloué est insuffisant</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-rounded" *ngIf="!projet.valideP"
                            data-mdb-ripple-color="dark" (click)="validateProjet(projet)"
                            [disabled]="projet.totalBesoin > projet.budgetProjet">Clique pour valider</button>
                        <div class="alert alert-success" *ngIf="projet.valideP" role="alert">
                            Ce projet est validé
                        </div>
                    </td>
                    <td><button type="button" class="btn btn-primary"
                            (click)="openDialog(projet.codeProjet)">Voir</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projets.length == 0">
        <img class="center-image" src="../../assets/images/noProjet.png">
    </div>
</div>