<div class="table-custom">
<table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">#codeProjet</th>
        <th scope="col">Intitulé</th>
        <th scope="col">Budget</th>
        <th scope="col">Statut</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of projets">
        <th scope="row">{{projet.codeProjet}}</th>
        <td>{{projet.intituleProjet}}</td>
        <td><span class="input-group-text">{{projet.budgetProjet}} $</span></td>
        <td>
          <div class="alert alert-success" *ngIf="projet.valideP" role="alert">
            Validé par le responsable financier
          </div>
          <div class="alert alert-warning" *ngIf="!projet.valideP" role="alert">
            En attente du responsable financier
          </div>
        </td>
        <td><button type="button" class="btn btn-primary" (click)="openDialog(projet)">Gestion</button></td>
      </tr>
      <tr class="table-color-add">
        <th scope="row">#</th>
        <td><input type="text" class="form-control" placeholder="Intitulé" [(ngModel)]="intituleProjet"></td>
        <td><input type="text" class="form-control" placeholder="Budget" [(ngModel)]="budgetProjet"></td>
        <td></td>
        <td><button type="button" class="btn btn-success" (click)="addCollab()">Ajouter</button></td>
      </tr>
    </tbody>
  </table>
        <div class="alert alert-danger" *ngIf="messageErreur != ''" role="alert">
          {{messageErreur}}
      </div>
</div>

