<div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
  <h1> Bienvenue {{prenom}}</h1>
  <h3>Ajoutez des Projets et affectez vos collaborateurs</h3>
  <div class="line"></div>
</div>

<div class="table-custom">

<table class="table table-bordered rounded-table" >

    <thead>
      <tr>
        <th scope="col">#codeProjet</th>
        <th scope="col">Intitulé</th>
        <th scope="col">Budget</th>
        <th scope="col">Statut</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of projets">
        <td scope="row">{{projet.codeProjet}}</td>
        <td>{{projet.intituleProjet}}</td>
        <td><span class="input-group-text">{{projet.budgetProjet}} $</span></td>
        <td>
          <div class="alert alert-success" *ngIf="projet.valideP" role="alert">
            Validé par le responsable financier
          </div>
          <div class="alert alert-warning" *ngIf="!projet.valideP" role="alert">
            En attente du responsable financier
          </div>
        </td>
        <td><button type="button" class="btn btn-primary" (click)="openDialog(projet.codeProjet, projet.valideP)">Gestion</button></td>
      </tr>
      <tr class="table-color-add">
        <td scope="row">#</td>
        <td><input type="text" class="form-control" placeholder="Intitulé" [(ngModel)]="intituleProjet"></td>
        <td><input type="text" class="form-control" placeholder="Budget" [(ngModel)]="budgetProjet"></td>
        <td></td>
        <td><button type="button" class="btn btn-success" (click)="addCollab()">Ajouter</button></td>
      </tr>
    </tbody>
  </table>
        <div class="alert alert-danger" *ngIf="messageErreur != ''" role="alert">
          {{messageErreur}}
      </div>
</div>

