
.table-custom {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.table-color-add {  
    color: white;
    background-color:#145e85;
}

input {
    height: 10px;
}

.disabled-input {
    background-color: #c2deee;
}

//------

table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
  }

  th, td {
    padding: 10px;
    border: 0.5px solid #000000;
  }

  /* required css to make rounded table (below) */
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

