<table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">#codeCollab</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Dotation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collaborateur of collaborateurs">
        <th scope="row">{{collaborateur.codeCollab}}</th>
        <td>{{collaborateur.nom}}</td>
        <td>{{collaborateur.prenom}}</td>
        <td>{{collaborateur.dotation}}</td>
      </tr>
      <tr class="table-color-add">
        <th scope="row">#</th>
        
        <td colspan="2" > 
          <div class="row">
            <select [disabled]="isAddActive() || isValide" class="form-select custom-select col" aria-label="Default select example" [(ngModel)]="selectedOption">
              <option selected selected>Choissisez le collaborateur</option>
              <option *ngFor="let collabNotInProjet of collabNotInProjets" [ngValue]="{codeCollab: collabNotInProjet.codeCollab, nom: collabNotInProjet.nom, prenom: collabNotInProjet.prenom}">
                {{collabNotInProjet.codeCollab}} {{collabNotInProjet.prenom}}  {{collabNotInProjet.nom}}
              </option>
            </select>
            <button  [disabled]="isAddActive() || isValide" type="button" class="btn btn-success col custom-add" (click)="addCollab()">+</button>
          </div>
        </td>

        <td> <select disabled class="form-control disabled-input" aria-label="Default select example"> </select> </td>
      </tr>
    </tbody>
</table>



