<div class="popup-container">
  <div class="popup-content">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#codeCollab</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Dotation</th>
        </tr>
      </thead>
      <tbody>
        <tr><td  class="table-warning" colspan="4">Administrateur</td></tr>
        <tr *ngIf="admins.length == 0"><td colspan="4" class="text-danger" >Aucun</td></tr>
        <tr *ngFor="let admin of admins">
          <th scope="row">{{admin.codeCollab}}</th>
          <td>{{admin.nom}}</td>
          <td>{{admin.prenom}}</td>
          <td>{{admin.dotation}}</td>
        </tr>
        <tr><td class="table-success" colspan="4">Responsable Financier</td></tr>
        <tr *ngIf="respoFinanciers.length == 0"><td colspan="4" class="text-danger">Aucun</td></tr>
        <tr *ngFor="let respoFinancier of respoFinanciers">
          <th scope="row">{{respoFinancier.codeCollab}}</th>
          <td>{{respoFinancier.nom}}</td>
          <td>{{respoFinancier.prenom}}</td>
          <td>{{respoFinancier.dotation}}</td>
        </tr>
        <tr><td class="table-primary" colspan="4">Collaborateur</td></tr>
        <tr *ngIf="collaborateurs.length == 0"><td colspan="4" class="text-danger">Aucun</td></tr>
        <tr *ngFor="let collaborateur of collaborateurs">
          <th scope="row">{{collaborateur.codeCollab}}</th>
          <td>{{collaborateur.nom}}</td>
          <td>{{collaborateur.prenom}}</td>
          <td>{{collaborateur.dotation}}</td>
        </tr>
        <tr class="table-color-add">
          <td colspan="4">
            <h3>Choisissez qui vous souhaitez ajouter</h3>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="admin" [(ngModel)]="selectedRole">
              <label class="form-check-label" for="exampleRadios1" class="text-warning">
                Administateur
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="respoFinancier" [(ngModel)]="selectedRole">
              <label class="form-check-label" for="exampleRadios2" class="text-success">
                Responsable Financier
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="collab" [(ngModel)]="selectedRole">
              <label class="form-check-label" for="exampleRadios2" class="text-primary">
                Collaborateur
              </label>
            </div>
          </td>
        </tr>
        <tr class="table-color-add">
          <td colspan="4">
            <div class="row">
              <select [disabled]="isAddActive() || isValide" class="form-select custom-select col" aria-label="Default select example" [(ngModel)]="selectedOption">
                
                <ng-container *ngIf="selectedRole === 'admin'">
                  <option selected selected>Choisissez l'administrateur</option>
                  <option *ngFor="let adminNotInProjet of adminNotInProjets" [ngValue]="{codeCollab: adminNotInProjet.codeCollab, nom: adminNotInProjet.nom, prenom: adminNotInProjet.prenom}">
                    {{adminNotInProjet.codeCollab}} : {{adminNotInProjet.prenom}} {{adminNotInProjet.nom}}
                  </option>
                </ng-container>

                <ng-container *ngIf="selectedRole === 'respoFinancier'">
                  <option selected selected>Choisissez le Responsable Financier</option>
                  <option *ngFor="let respoFinancierNotInProjet of respoFinancierNotInProjets" [ngValue]="{codeCollab: respoFinancierNotInProjet.codeCollab, nom: respoFinancierNotInProjet.nom, prenom: respoFinancierNotInProjet.prenom}">
                    {{respoFinancierNotInProjet.codeCollab}} : {{respoFinancierNotInProjet.prenom}} {{respoFinancierNotInProjet.nom}}
                  </option>
                </ng-container>

                <ng-container *ngIf="selectedRole === 'collab'">
                  <option selected selected>Choisissez le collaborateur</option>
                  <option *ngFor="let collabNotInProjet of collabNotInProjets" [ngValue]="{codeCollab: collabNotInProjet.codeCollab, nom: collabNotInProjet.nom, prenom: collabNotInProjet.prenom}">
                    {{collabNotInProjet.codeCollab}} : {{collabNotInProjet.prenom}} {{collabNotInProjet.nom}}
                  </option>
                </ng-container>

              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button [disabled]="isAddActive()" type="button" class="btn btn-success col custom-add" (click)="addCollab()">+</button>
  
  </div>
</div>
