.table-custom {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.table-color-add {
    color: white;
    background-color:#474747a8;
}


.disabled-input {
    background-color: #989898;
}

select {
    width: 150px;
    height: 35px;
}

.custom-select {
    width: 350px;
    margin-left: 10px;
    margin-right: 5px;
}

.custom-add {
    width: 5px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}